body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee;
}

html,
body,
#root,
.l-main {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.l-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 40px;
}
.l-header__title {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
}

.p-hamburger {
  position: relative;
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-hamburger__line {
  width: 100%;
  height: 1px;
  background: #000;
}

.l-main {
  max-width: 375px;
  margin: auto;
  background: #fff;
  overflow: scroll;
  box-sizing: border-box;
}

.p-pageTitle {
  width: 80%;
  margin: 0 auto 40px;
  font-size: 20px;
  font-weight: normal;
}

.p-blockTable {
  width: 80%;
  margin: 0 auto 40px;
}

.p-block {
  margin-bottom: 8px;
}
.p-block__input {
  border-radius: 13px;
  border: 1px solid #000;
  padding: 16px 28px;
  font-size: 20px;
}
.p-block__input:focus {
  outline: none;
}

.p-add {
  display: flex;
  justify-content: center;
}
.p-add__icon {
  width: 40px;
}

.p-tomatoTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: -20px auto 0;
}

.p-tomato {
  position: relative;
  margin-top: 20px;
  width: calc(100% / 2 - 10px);
}
.p-tomato__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-tomato__img {
  width: 100%;
}

.p-steps {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
.p-steps__item {
  margin-right: 4px;
}
