body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eeeeee;
  color: #707070;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.l-main {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.l-header {
  position: relative;
  z-index: 2;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 40px;
}
.l-header__title {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
}

.p-hamburger {
  position: relative;
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-hamburger__line {
  width: 100%;
  height: 1px;
  background: #000;
}

.l-main {
  position: relative;
  max-width: 375px;
  margin: auto;
  background: #fff;
  overflow: scroll;
  box-sizing: border-box;
}

.p-pageTitle {
  width: 80%;
  margin: 0 auto 40px;
  font-size: 20px;
  font-weight: normal;
}

.p-blockArea {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: calc(50% - 90px);
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.p-arrow {
  display: block;
  position: absolute;
  left: 0;
  bottom: calc(50% - 90px);
  width: 50%;
  height: 21px;
  overflow: hidden;
}
.p-arrow--yellow {
  left: auto;
  right: 0;
}
.p-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  height: 21px;
  width: 110%;
  background: url(./triangle-pink.svg) no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.p-arrow--yellow::before {
  background-image: url(./triangle-yellow.svg);
}

.p-blockTable {
  position: relative;
  width: 50%;
  padding: 5%;
  background: #fff6f4;
  overflow: scroll;
}
.p-blockTable:nth-of-type(2) {
  background: #fffae3;
}

.p-block {
  width: 100%;
  margin-bottom: 8px;
}
.p-block__input {
  text-align: center;
  width: 100%;
  border-radius: 13px;
  border: 1px solid #000;
  padding: 10px 28px;
  font-size: 16px;
}
.p-block__input:focus {
  outline: none;
}

.p-add {
  display: flex;
  justify-content: center;
}
.p-add__icon {
  height: 40px;
  width: 40px;
}

.p-dropArea {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: calc(50% - 90px);
  padding: 20px 0;
  overflow: scroll;
}
.p-dropArea::after {
  content: "";
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 100%;
  background: #ededed;
}

.p-taskTable {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 50%;
  margin: -20px 0 0;
  padding: 0 4.8% 0 5.4%;
}
.p-taskTable--mini::after {
  content: "";
  height: 0;
  width: calc(100% / 3 - 10px);
}
.p-taskTable__dropArea {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.p-taskTable__dropArea__txt {
  font-size: 12px;
}

.p-task {
  position: relative;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.p-tomato--mini {
  width: calc(100% / 3 - 10px);
  font-size: 12px;
}
.p-tomato--large {
  width: 60%;
  margin: 20px auto;
}
.p-task__content {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
}
.p-task__content__time--large {
  font-size: 40px;
}
.p-task__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.p-task__img__calyx {
  position: absolute;
  z-index: 1;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.p-task--treats .p-task__content {
  color: #000;
}
.p-task--treats .p-task__img__calyx {
  top: -5px;
}

.p-steps {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.p-steps__item {
  margin-right: 4px;
}

.p-start__icon {
  display: block;
  margin: auto;
}

.p-result {
  width: 80%;
  margin: auto;
}
.p-result__txt {
  font-size: 24px;
  font-weight: bold;
}
.p-result__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-result__content .p-tomato {
  margin: 0 30px 0 0;
}
.p-result__content .p-tomato__img {
  vertical-align: bottom;
}
.p-result__treasure__icon {
  vertical-align: bottom;
  height: 80px;
  width: auto;
}

.p-startButton {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
.p-startButton__button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #8cd65d;
  color: #fff;
}
.p-startButton.active {
  opacity: 1;
  pointer-events: all;
}
